[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
explicit_defaults_for_timestamp=ON
sql_mode=STRICT_ALL_TABLES
max_connections=200
# Optional logs
# general_log=1
# general_log_file=/var/lib/mysql/general.log
# slow_query_log=1
# long_query_time=1
# slow_query_log_file=/var/lib/mysql/slow.log
